# Gradle work
.gradle
build

# Maven work
target

# IntelliJ IDEA work
*.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# Android
local.properties

# Mac OS X
.DS_Store

# Except .gitignore
!.gitignore
